<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
